<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Informationen zur Website</h3>
  </div>
  <div class="panel-body">
    <p>Erstellt von der EDV Abteilung der Paracelsus Klinik Osnabrück</p>
    <p>Zur Versionierung siehe unsere GitHub Seite.</p>
  </div>
</div>